body{
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(27, 27, 27);
    color: whitesmoke;
    padding-top: 10%;
}



#Container{
    width: 70%;
    padding: 1rem;
    border:1px solid whitesmoke;
    border-radius:1rem ;
    margin:0 auto;
    text-align: left;
    
}
#Container h1{
    font-size: 20px;
    color: rgb(0, 160, 160);
}