body{
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(27, 27, 27);
    color: whitesmoke;
    padding-top: 10%;
}

#Container{
    width: 70%;
    border:1px solid whitesmoke;
    border-radius:1rem ;
    margin:0 auto;
    text-align: left;
    
}

#cabecera{
    margin: 0;
    background-color: rgb(161, 161, 161);
<<<<<<< HEAD
    text-align: left;
    color: rgb(143, 255, 115);
=======

>>>>>>> main
    font-weight: bolder;
    font-size: 40px;
    border-radius: 1rem 1rem 0 0;
    padding-left: 1rem;
}

#Container h1{
    font-size: 20px;
    color: rgb(89, 223, 223);
}

#Container p {
    margin: 0;
}

#Container p span {
    font-size: 20px;
    font-weight: 200;
    color: aqua;
}


#post{
    padding: 1rem;
}